@import "../Utilities/mixins";
.container {
    margin-left: 5%;
}
.aside-content {
    background-color: $color-aside;
    min-height: 100%;
    text-align: center;
    img {
        margin: 3% auto;
        width: 60%;
        border-radius: 2%;
    }
}
.separador-aside {
    width: 80%;
    margin:  8% auto;
    height: 0.1rem;
    background: $color3;
}
.separador-aside__section {
    margin-bottom: 10%;
}
h2 {
    @include estilo-tipograf($font-principal, 2rem, 600, $color1);
    text-align: left;
    margin-left: 4%;
}
.descrip-personal {
    @include estilo-tipograf($font-secundaria, 1.1rem, 400, $color2);
    text-align: justify;
    margin-left: 4%;
    margin-right: 5%;
    padding-bottom: 5%;

}
.aptitudes-aside {
    margin-bottom: 10%;
    padding-left: 5%;
    li {
        @include estilo-tipograf($font-secundaria, 1rem, 300, $color1);
        text-align: left;
        margin-left: 0;
        padding-bottom: 3%;
    }
}
h1 {
    text-align: left;
    margin-left: 5%;
    @include estilo-tipograf($font-principal, 4.5rem, 600,$color-aside);
    span {
        color: $color3;
    }
}
.contactos {
    width: 100%;
    margin-top: 5%;
    display: flex;
    justify-content: space-evenly;
    ul     {
        list-style: none;
        width: 100%;
        li {
            @include estilo-tipograf($font-secundaria, 1rem, 400, $color2);
            padding-top: 2%;
        }
    }
}
.contactos__div{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin-right: 10%;
    img {
        width: 25%;
    }
    p {
        @include estilo-tipograf($font-secundaria,0.7rem, 300, $color2);
        text-align: center;
    }
}
.separador-main {
    width: 80%;
    margin:  5% auto;
    height: 0.2rem;
    background: $color-aside;    
}
.formation {
    p {
        @include estilo-tipograf($font-secundaria, 1rem, 200, $color1);
        padding-left: 3%;
    }
}
h3 {
    @include estilo-tipograf($font-principal, 2rem, 600, $color-aside);
    text-align: left;
    margin-left: 5%; 
}
p {
    @include estilo-tipograf($font-secundaria, 1rem, 400, $color2);
    text-align: left;
    margin-left: 5%;
    span {
        font-weight: 700;
    }
}
.experience {
    margin-bottom: 3%;
}
.aptitudes-title {
    padding-left: 10%;
    list-style: none;
    & .item {
        margin-left: 0;
        text-align: left;
        @include estilo-tipograf($font-secundaria, 1rem, 800, $color2);
        margin-bottom: 1%;
        margin-top: 2%;
    }

}